<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/symptomes"></ion-back-button>
    </ion-buttons>
    <ion-title>Tous les Symptômes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content fullscreen={true}>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Symptômes les plus fréquents:</ion-label>
        </ion-item-divider>


        <ion-item>
          <ion-label>Fièvre</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Toux sèche</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Fatigue</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Symptômes moins fréquents:</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Courbatures</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Maux de gorge</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Conjonctivite</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Maux de tête</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Perte de l’odorat ou du goût</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Eruption cutanée, ou décoloration des doigts ou des orteils</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Symptômes graves:</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>difficultés à respirer ou essoufflement</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>sensation d’oppression ou douleur au niveau de la poitrine</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>perte d’élocution ou de motricité</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-content>